header{
    text-align: center;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-image: url(Go13.gif);
    background-position: 25cm;
    background-position: center;
}

footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkcyan;
    color: white;
    font-size: 15px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div{
    font-size: 25px;
    color: black;
    padding: 10px;
}

input[type=text]{
    width: 25%;
    padding: 12px 20px;
    margin: 0%;
    box-sizing: border-box;
}

input[type=text], select, textarea{
    width: 25%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.container{
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 30px;
}

input[type=submit]{
    background-color: rgb(127, 255, 165);
    padding: 15px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: rgb(127, 255, 255);
}
